/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*::after::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.maincontainer {
  position: relative;
  width: 100%;
  background-image: url("../../assets/gridlook.jpg");
  background-size: cover; 
  min-height: 90vh;
  padding-bottom: 5%;
}

#top {
  padding-top: 3.5vh;
}

.pagetitleA {
  width: 90%;
  text-align: center;
  padding: 15px 0px;
  background-color: rgba(48, 148, 141, .5);
  border-radius: 10px;
  margin: 25px auto;
  -webkit-transition: width .7s;
  -o-transition: width .7s;
  transition: width .7s;
}

.skillList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1.2em auto;
  grid-template-columns: repeat(2, auto );
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 1.2em;
}

.skillList > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.skillList > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.aboutlist {
  font-size: 15px;
  text-shadow: none;
  -webkit-transition: font-size .5s, text-shadow .5s;
  -o-transition: font-size .5s, text-shadow .5s;
  transition: font-size .5s, text-shadow .5s;
  margin-bottom: 3px;
}

p.text {
  text-indent: 4%;
  padding: 0px 15px 0px 40px;
}

.card {
  background-color: rgba(119, 119, 119, .8)
}

.contactLink {
  display: inline;
  text-decoration: none;
  margin: 0px 5px;
  color: blanchedalmond;
  -webkit-transition: font-size .5s, color .5s;
  -o-transition: font-size .5s, color .5s;
  transition: font-size .5s, color .5s;
}

.imgab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../assets/graduation.jpg");
  background-position: center;
  background-size: cover;
  margin-left: 1vw;
  min-width: 250px;
  max-width: 400px;
  min-height: 250px;
  border-radius: 15px;
  -webkit-transition: margin-left .4s;
  -o-transition: margin-left .4s;
  transition: margin-left .4s;
}

.mainbox {
  position: relative;
  width: 85%;
  padding: 35px;
  border-radius: 15px;
  color: white;
  margin: 25px auto;
  -webkit-transition: border-radius .4s;
  -o-transition: border-radius .4s;
  transition: border-radius .4s;
}

.aitem {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aitem3 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.aitem4 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.aitem2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.aitem5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  padding-right: 12px;
}

.cardcontent {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 1fr 1em 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.cardcontent > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.cardcontent > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
  
.mainbox:hover .pagetitleA {
  width: 65%;
} 

@media (max-width:650px) {
  .cardcontent {
    display: inline;
  }
  .imgab{
    margin: auto;
  }
  .mainbox {
    padding: 20px;
    width: 100vw;
    border-radius: 0px;
  }
  .aitem {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .aitem3 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .aitem4 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .aitem2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .aitem5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-left: 5px;
  }
}

@media (min-width: 651px) {
  button :hover {
    background-color: aqua;
  }
  .mainbox:hover {
    border-radius: 20px;
  }
  
  .mainbox:hover .imgab {
    margin-left: 2vw;
  }
  .contactLink:hover {
    font-size: 18px;
    color: #30948D;
  }
  
  .aboutlist:hover {
    cursor: default;
    font-size: 17px;
    text-shadow: 2px 2px 2px #464444;
  }

}