#goup {
  display: flex;
  position: fixed;
  place-items: center;
  top: 90%;
  left: 95%;
  height: 30px;
  width: 30px;
  background-color: red;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: opacity .8s, transform .5s;
}

#goup:hover {
  transform: rotate(360deg);
}

.totop {
  color: white;
}

@media (max-width: 700px) {
  #goup {
    left: 85%;
  }
}