#goup {
  display: inline;
  position: fixed;
  place-items: center;
  top: 90%;
  left: 95%;
  background-color: red;
  padding: 5px 7px;
  justify-content: center;
  border-radius: 7px;
  border: black solid 1.5px;
  transition: opacity .8s, transform .5s;
}

#goup:hover {
  transform: rotate(360deg);
}

.totop {
  color: white;
}

@media (max-width: 700px) {
  #goup {
    left: 85%;
  }
}