* {
  box-sizing: border-box;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 12px;
  resize: vertical;
}

.column {
  position: relative;
  display: flex;
  margin: auto;
  width: 60vw;
  padding: 25px 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0 13px 27px 0 rgba(163, 48, 53, 0.25);
  box-shadow: 0 13px 27px 0 rgba(31, 4, 6, 0.25);
  -webkit-transition: .9s;
  transition: .9s;
}

.column input, textarea {
  border-radius: 10px;
}

h2 {
  margin-top: 0px;
}

.contact-container {
  position: relative;
  min-height: 90vh;
  background-image: url("../../assets/gridlook.jpg");
  background-size: cover;
  padding: 30px 0px;
}

button :hover {
  background-color: aqua;
}

#contact-form {
  position: relative;

}

#formSub {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  transition: width 1s;
}

input[type=submit]:hover {
  cursor: pointer;
}

#contactSub {
  border-radius: 10px;
  color: aliceblue;
  padding: 5px 10px;
  background: #30948D;
  -webkit-box-shadow: 0 13px 27px 0 rgba(7, 7, 7, 0.5);
  box-shadow: 0 13px 27px 0 rgba(0, 0, 0, 0.5);
  transition: width 1s;
}

#formSub:hover #contactSub {
  cursor: pointer;
  width: 45%;
}

@media (max-width:600px) {
  .row {
    margin: 18px 18px 0px;
  }
  p {
    margin: 15px;
  }
  .column{
    width: 97vw;
    padding: 10px;
  }
}
@media (max-width: 1100px) and (min-width: 600px) {
  .column{
    width: 75vw;
    padding: 20px;
  }
}