.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-image: url("../../assets/gridlook.jpg");
    background-size: cover;
}


.contact-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: auto;
    gap: 10px;
    justify-content: center;
    width: 85vw;
     align-items: center;
     padding: auto;
}