*::after::before {
    box-sizing: border-box;
  }
  
  .maincontainer {
    position: relative;
    display: flex;
   flex-wrap: wrap;
    width: 100%;
    background-image: url("images/gridlook.jpg");
    background-size: cover;
    justify-content: center;
  align-items: center;
  min-height: 100vh;
   
  }
  

  
  .pagetitle {
    grid-column: span 2;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(48, 148, 141, .5);
    border-radius: 10px;
  }
  
  .skillList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  
   .aboutlist:hover{
    cursor: default;
    animation: listanimation .5s;
    animation-fill-mode: forwards;
  }

  @keyframes listanimation {
    to {
    font-size: 18px;
    text-shadow: 2px 2px 2px #000000;
    
    }
  }
  p.text {
    text-indent: 5%;
  }
  
  .card {
    background-color: rgba(119, 119, 119, .8)
  }
  
  .contactLink {
    display: inline;
    text-decoration: none;
    margin: 0px 5px;
    color: blanchedalmond;
  }
  
  .contactLink:hover {
    animation: linkanimation .5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes linkanimation {
    to {
    font-size: 18px;
      color:#30948D;
    }
  }
  
  .imgab {
    display: flex;
    background-image: url("images/bashar3.jpg");
    background-position: center;
    background-size: cover;
   min-width: 250px;
   min-height: 250px;
   border-radius: 15px;
  }
  
  .mainbox {
    display: flex;
flex-wrap: wrap;

    grid-gap: 1em;
    width: 85%;
    padding: 25px;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  .aitem {
    order: 1;
    display: inline;
  }
  .aitem4 {
    order: 2;
    align-self: center;
    display: inline;

  }
  .aitem2 {
order: 3;
  }
  .aitem3 {
    order: 4;
  }
  .aitem5 {
    order: 5;
  }
  
  .lastrow {
    display: block;
  }
  
  button :hover {
    background-color: aqua;
  }

  .cardcontent {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
  }
  
 