.maincontainers {

    width: 100%;
    background-image: url("images/monument-valley-1593318.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100%;
    height: 90vh;
    /* z-index: -3; */
  }
  
  .containers {
    position: relative;
    display: grid;
    width: 95%;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: auto;
    grid-gap: 1em;
  margin: 0 auto;
    padding-top: 25px;
 
    /* z-index: -2; */
    
  }
  
  .pagetitle {
  
max-height: 140px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(48,148,141,.5);
    border-radius: 10px;
    color: aliceblue;
  }
  
  .pagetitle p {
    margin: 0px;
  }
  
  .a1 {
    background-image: url("images/passwordbg.jpg");
    background-position: center;
    background-size: cover;

  }
  
  .a2 {
    
    background-image: url("images/quizAPP.jpg");
    background-position: center;
    background-size: cover;
     border-radius: 20px;


  }
  
  .a3 {
    background-image: url("images/weatherdash.jpg");
    background-position: center;
    background-size: cover;
    margin: 23px auto;
    position: relative;
  
max-height: 250px;
top: 0;
  }
  
  .a4 {
    background-image: url("images/calendarday.jpg");
    background-position: center;
    background-size: cover;
    margin: 23px auto;
  }
  
  .a5 {
    /* border: solid black 2px; */
    border-style: ridge;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    background-image: url("images/sports.jpg");
    background-position: center;
    background-size: cover;
    margin: 23px auto;
  }
  
  .a6 {
    background-image: url("images/gabrielle-henders.jpg");
    background-position: center;
    background-size: cover;
    margin: 23px auto;
  }
  
  .a7 {
    background-image: url("images/snakegame.PNG");
    background-size: cover;
    margin: 23px auto;
  }
  .boxP {
position: relative;

margin: 0px;
min-width: 200px;
min-height: 200px;
    
  }
  
  
  .ap {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    text-decoration: none;
    place-items: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
 
  }
  .ap:hover {
animation: spanT 1s ;
animation-fill-mode: forwards;
  }
@keyframes spanT {
  to{
    color: black;
    font-size: 24px;
  }
}
  .captions {
    display: flex;
    height: 200px;

  }
 
  .captions:hover {
    animation: tips 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes tips {
    from {opacity: 1;
      text-align: center;
      border-radius: 10px;
      }
      to {padding-top: 15%;
        border-radius: 20px;
        opacity: .7;
    background-color: #777;
    color: black;
      }
  } 
/* 
  .tooltips {
   
    
    position: absolute;
    overflow: hidden;
     z-index:-1; 
    font-size: 16px;
  height: 0px;
    width: 100%;
    top:90%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
background-color: red;

  }
  .tool-text { 
position: relative;
    color: white;
    top: 20%;
    text-align: center;
  }
 */

  /* .boxA:hover .tooltips {
    
    animation: toolTIPS 1s;
    animation-fill-mode: forwards;
    
   
  }
  @keyframes toolTIPS {
    from {
      height: 0px;
    }
    to {
      
 height: 200px;
       
    }
  } */
  
  /* .captions:hover .box {
    animation: boxtext 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes boxtext {
    from {color: white;}
    to {color: black;}
  }
  
  .captions span.box {
    position: relative;
    opacity: 1;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
  }
  
  .lastrow {
    display: block;
  }
  
  button :hover {
    background-color: aqua;
  }
  
  @media (max-width: 950px) {
    .containers {
      max-width: 75%;
      grid-template-columns: repeat(auto-fit, 250px);
      margin: auto;
      padding-left: 9%;
    }
    .pagetitle {
      grid-column: span 2;
      max-width: 1500px;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: rgba(48,148,141,.5);
      border-radius: 10px;
      color: aliceblue;
    }
  }
  
  @media (max-width: 700px) {
    .pagetitle {
      grid-column: span 1;
    }
  } */