.maincontainers {
position: relative;
    width: 100%;
    background-image: url("images/monument-valley-1593318.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100%;
    height: 90vh;
    padding-top: 20px;
   
    
  }
  
  .containers {
    position: relative;
    display: grid;
    width: 85%;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: auto;
    grid-gap: 1em;
  margin: 0 auto;
    padding-top: 25px;
 

    
  }
  
  .pagetitle {
  
max-height: 140px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    margin: auto;
    background-color: rgba(48,148,141,.5);
    border-radius: 10px;
    color: aliceblue;
  }
  

  
  .a1 {
    position: relative;
    background-image: url("images/passwordbg.jpg");
    background-position: center;
    background-size: cover;
border-radius: 20px;

  }
  
  .a2 {
   
    position: relative;
    background-image: url("images/quizAPP.jpg");
    background-position: center;
    background-size: cover;
     border-radius: 20px;



  }
  
  .a3 {
    position: relative;
    background-image: url("images/weatherdash.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;

  }
  
  .a4 {
    position: relative;
    background-image: url("images/calendarday.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  }
  
  .a5 {
    position: relative;
    background-image: url("images/sports.jpg");
    background-position: center;
    background-size: cover;
   border-radius: 20px;
  }
  
  .a6 {
    position: relative;
    background-image: url("images/gabrielle-henders.jpg");
    background-position: center;
    background-size: cover;
   border-radius: 20px;
  }
  
  .a7 {
    position: relative;
    background-image: url("images/snakegame.PNG");
    background-position: center;
    background-size: cover;
   border-radius: 20px;
  }


  .box {
position: relative;
margin: 0px;
width: 200px;
height: 200px;

z-index: 100;
transition: height 1s;
    
  }
  
  
  .ap {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    
    text-decoration: none;
    place-items: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
 
  }

  .ap:hover {
animation: spanT 1s ;
animation-fill-mode: forwards;
  }

@keyframes spanT {
  to{
    color: black;
    font-size: 24px;
  }
}
  .captions {
    display: flex;
    height: 200px;
 
  

  }
 
  .captions:hover {
    animation: tips 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes tips {
    from {opacity: 1;
      text-align: center;
      border-radius: 10px;
      }
      to {padding-top: 15%;
        border-radius: 20px;
        opacity: .7;
    background-color: #777;
    color: black;
      }
  } 

  .tooltips {
   
    position: absolute;
    overflow: hidden;

    font-size: 16px;
  height: 10px;
    width: 100%;
    top:40%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
background-color: red;
transition: height 1s;
z-index: -1;
  }

  .tool-text { 
position: relative;
    color: white;
    top: 35%;
    text-align: center;
    padding: 5px;
  }
 

   .box:hover .tooltips  {
    
   height: 200px;
    
  }


  .box:hover {
   height: 350px;
  }

 
 


/*   
  @keyframes toolTIPS {
    from {
      height: 0px;
    }
    to {
      background-color: red;
 height: 200px;
       
    }
  } 
   */
  /* .captions:hover .box {
    animation: boxtext 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes boxtext {
    from {color: white;}
    to {color: black;}
  }
  
  .captions span.box {
    position: relative;
    opacity: 1;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
  }
  
  .lastrow {
    display: block;
  }
  
  button :hover {
    background-color: aqua;
  }
  
  @media (max-width: 950px) {
    .containers {
      max-width: 75%;
      grid-template-columns: repeat(auto-fit, 250px);
      margin: auto;
      padding-left: 9%;
    }
    .pagetitle {
      grid-column: span 2;
      max-width: 1500px;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: rgba(48,148,141,.5);
      border-radius: 10px;
      color: aliceblue;
    }
  }
  
  @media (max-width: 700px) {
    .pagetitle {
      grid-column: span 1;
    }
  } */