.maincontainers {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, rgb(49, 98, 8) 10%,rgb(240, 240, 240), rgb(177, 105, 105));
  min-height: 90vh;
  padding: 50px 0px;
}

.containers {
  position: relative;
  display: grid;
  width: 85%;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: auto;
  grid-gap: 1em;
  grid-row-gap: 2em;
  margin: 0 auto;
  padding-top: 40px;
  justify-content: center;
  
}

.pagetitle {
  text-align: center;
 padding: 10px;
  width: 85%;
  margin: auto;
  background-color: rgba(48, 148, 141, .5);
  border-radius: 10px;
  color: aliceblue;
}

@media (min-width: 1200px) {
  .containers {
    grid-template-columns: repeat(auto-fit, 300px);
    width: 82%;
  }
  .pagetitle {
    width: 85%;
  }
}

#projectH2 {
  margin: 0px;
}

#projectP {
  margin: 5px 0px 5px;
}