.header {
  position: sticky;
  display: flex;
  will-change: scroll;
  top: 0;
  width: 100%;
  min-height: 7vh;
  background: #30948d;
  font-family: sans-serif;
  z-index: 100;
  padding: 22px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.35s;
}

.header.sticky {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  a,
  p {
    color: #30948d !important;
  }
  #right {
    a {
      background-color: rgba(255, 255, 255, 0.25);
      &:hover {
        background-color: #f2f2f2;
      }
    }

  }
}

#left {
  display: flex;
  min-width: 250px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5vw;
  a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-left: 5%;
  }
}

.navlink {
  display: flex;
  transform: translateY(3px);
  overflow: hidden;
  // &:hover .underline{
  //   transform: translateX(0);
  // }
}
.navlink_contain{
  overflow: hidden;
  margin-left: 5px;

}

.underline{
  height: 3px;
  width: 100%;
  background-color: white;
  border: none;
 border-radius: 5px;
  margin-top: 3px;
  transform: translateX(-101%);
  transition: transform .6s;
}


#right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 5vw;
  a {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f2f2f2;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0px 27px 0 rgba(255, 255, 255, 0.25);
    transition: 0.75s;
    &:hover {
      background-color: rgb(70, 158, 62);
      border-radius: 20px;
      box-shadow: 0 0px 27px 0 rgba(0, 0, 0, 0.25);
    }
  }
  p {
    margin: auto;
    justify-content: center;
    color: #f2f2f2;
    font-size: 16px;
  }
}

#left {
  span#a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    animation: aniBashar 1.5s;
    animation-fill-mode: forwards;
  }
  span#b {
    display: none;
    white-space: nowrap;
  }
}

@media (min-width: 670px) {
  #left:hover span#a {
    display: none;
  }
  #left:hover span#b {
    display: block;
    overflow: hidden;
    animation: aniBD 0.9s;
    animation-fill-mode: forwards;
    cursor: pointer;
  }
}

@keyframes aniBD {
  from {
    width: 0px;
    opacity: 1;
  }
  75% {
    padding: 30px 0px;
    font-size: 50px;
  }
  to {
    width: 200px;
    font-size: 2rem;
    opacity: 1;
  }
}


@keyframes aniBashar {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}

@media (max-width: 670px) {
  #left {
    flex: 100%;
    margin: auto;
    padding: 0px 20px 20px 20px;
    span#a {

      display: flex;

      justify-content: center;
    }
  }

  #right {
    margin: auto;
    width: 88%;
    a {
      padding: 10px;
      font-size: 14px;
    }
  }
}
