/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.header {
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  width: 100%;
  min-height: 7vh;
  background: #30948d;
  font-family: sans-serif;
  z-index: 100;
  padding: 22px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 5vw;
  a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-left: 5%;
  }
}

#right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-right: 5vw;
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f2f2f2;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    -webkit-box-shadow: 0 13px 27px 0 rgba(163, 48, 53, 0.25);
    box-shadow: 0 0px 27px 0 rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    &:hover {
      background-color: rgb(70, 158, 62);
      border-radius: 20px;
      -webkit-box-shadow: 0 13px 27px 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 0px 27px 0 rgba(0, 0, 0, 0.25);
    }
  }
  p {
    padding-left: 5px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #f2f2f2;
    font-size: 16px;
  }
}

#left {
  span#a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: aniBashar 1.5s;
            animation: aniBashar 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  span#b {
    display: none;
    white-space: nowrap;
  }
}

@media (min-width: 670px) {
  #left:hover span#a {
    display: none;
  }
  #left:hover span#b {
    display: block;
    overflow: hidden;
    -webkit-animation: aniBD 0.9s;
            animation: aniBD 0.9s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    cursor: pointer;
  }
}

@-webkit-keyframes aniBD {
  from {
    width: 0px;
    opacity: 1;
  }
  75% {
    padding: 30px 0px;
    font-size: 50px;
  }
  to {
    width: 200px;
    font-size: 2rem;
    opacity: 1;
  }
}

@keyframes aniBD {
  from {
    width: 0px;
    opacity: 1;
  }
  75% {
    padding: 30px 0px;
    font-size: 50px;
  }
  to {
    width: 200px;
    font-size: 2rem;
    opacity: 1;
  }
}

@-webkit-keyframes aniBashar {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}

@keyframes aniBashar {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}

@media (max-width: 670px) {
  #left {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin: auto;
    padding: 0px 20px 20px 20px;
    span#a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  #right {
    margin: auto;
    width: 88%;
    a {
      padding: 10px;
      font-size: 14px;
    }
  }
}
