
footer {
    display: flex;
    bottom: 0;
  color:#ddd;
  background-color:#282E34;
 min-height: 10vh;
  align-items: center; 
  justify-content: center;
  padding: 25px 20px 20px;

}

.footerC p{
    margin: 6px 0px 10px 0px;
    font-size: 12px;
}

.footerC{
    display: grid;
    padding: auto;
    align-items: center; 
}
.footerC p, .footerC div {
    display: flex;
    align-items: center; 
    justify-content: center;

}
