footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    color: #ddd;
    background-color: #282E34;
    min-height: 10vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px 20px 20px;
}

.footerC p {
    margin: 6px 0px 10px 0px;
    font-size: 12px;
}

.footerC p, .footerC div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}