footer {
    display: flex;
    bottom: 0;
    color: #ddd;
    background-color: #282E34;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 20px 20px;
}

footer p {
    margin: 6px 0px 10px 0px;
    font-size: 12px;
}

footer p,
footer div {
    display: flex;
    justify-content: center;
}